{
  "$schema": "https://raw.githubusercontent.com/martinring/tmlanguage/master/tmlanguage.json",
  "name": "{{ language }}",
  "scopeName": "{{ scope }}",
  "patterns": {{ patterns | tojson(indent=2) }},
  "repository": {{ repository | tojson(indent=2) }}
}